# Dependencies
node_modules

# Build output (Docker build stage will recreate)
dist

# Environment files (never put inside image)
.env
.env.local
.env.development
.env.production

# Logs
*.log

# OS / Editor junk files
.DS_Store
.vscode
.idea

# Git
.git
.gitignore
